// vars

$fadeTime: 0.15s;

$themeColor1Background: black;
$themeColor1Accent: rgb(4, 4, 133);
$themeColor1AccentAlternate: rgb(53, 123, 180);
$themeColor1Text: white;

$themeColor2Background: white;
$themeColor2Accent: rgb(4, 4, 133);
$themeColor2AccentAlternate: rgb(228, 175, 31);
$themeColor2Text: black;

$navBarTitleHeight: 100px;
$navBarButtonHeight: 60px;
$navBarHeight: $navBarTitleHeight + $navBarButtonHeight;

$mainPadding: 50px;

$footerHeight: 180px;

$mainExcludedHeight: $footerHeight + $navBarHeight;

// nav

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $themeColor1Background;
  z-index: 10;
  box-shadow: 0px 0px 8px 8px #aaa;
  font-weight: bold;
}

.navBarLogo {
  position: absolute;
  width: $navBarTitleHeight;
  height: $navBarTitleHeight;
}

.navBarMenuIconContainer {
  display: none;
}

.navBarTitle {
  height: $navBarTitleHeight;
  line-height: $navBarTitleHeight;
  margin: 0;
  font-size: 36px;
  color: $themeColor1Text;
  position: relative;
  left: $navBarTitleHeight;
}

.navBarButtonContainer {
  height: $navBarButtonHeight;
  display: flex;
  background-color: inherit;
}

.navBarButton {
  flex-grow: 1;
  line-height: $navBarButtonHeight;
  text-decoration: none;
  text-align: center;
  color: $themeColor1Text;
  font-size: 24px;
  background-color: inherit;
  transition: background-color $fadeTime;

  &:hover {
    background-color: $themeColor1AccentAlternate
  }
}

.navBarButtonActive {
  background-color: $themeColor1Accent;
}

// main

html {
  background-color: $themeColor1Background;
}

body {
  overflow-x: hidden;
}

.main {
  position: relative;
  top: $navBarHeight;
  padding: $mainPadding;
  min-height: calc(100vh - #{$mainExcludedHeight});
  background-color: $themeColor2Background;
  color: $themeColor2Text;
}

.main a {
  color: $themeColor2Accent;
  transition: color $fadeTime;

  &:hover {
    color: $themeColor2AccentAlternate
  }
}

// footer

.footer {
  background-color: $themeColor1Background;
  color: $themeColor1Text;
  position: relative;
  top: $navBarHeight;
  height: $footerHeight;
  padding: 30px 0;
}

.footerNotice {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}

// components

.title {
  font-size: 48px;
  text-align: center;
}

.subtitle {
  font-size: 32px;
  text-align: center;
}

.bubbleVisualizerContainer {
  width: calc(100vw - 20px);
  height: 60vh;
  position: relative;
  right: $mainPadding;
}

.bubbleVisualizer {
  position: absolute;
  width: 100vw;
  height: 100%;
  border: none;
}

.calendarEmbed {
  border: 1px solid #ccc;
  width: 100%;
  height: 600px;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contactMethodContainer {
  width: 100%;
  max-width: 400px;
  margin: auto;
  font-size: 22px;
  position: relative;
}

.contactMethodTitle {
  margin-bottom: 8px;
  font-weight: 500;
}

.contactMethodLink {
  position: absolute;
  left: 150px;
  top: 0;
}

.donorboxEmbed {
  max-width: 500px;
  min-width: 310px;
  max-height: none!important;
  height: 1000px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 25px;
}

.donorboxEmbedLoading {
  width: calc(100vw - #{2 *$mainPadding});
  max-width: 200px;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}